body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    width: 1440px;
    margin: auto;
}

h1,
h4,
h5,
h6{
margin-top: 0;
margin-bottom: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
    width: 1158px;
    padding: 0 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 2px 1px 0 rgb(46, 47, 66, 0.08), 0 1px 1px 0 rgb(46, 47, 66, 0.16), 0 1px 6px 0 rgb(46, 47, 66, 0.08);
}

.page-header .container {
justify-content: space-between;
}

.logo-link,
.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-nav {
    display: flex;
    gap: 76px;
}

.nav-list {
display: flex;
gap: 40px;
}

.logo-link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #2E2F42;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}


.logo-accent {
    color: #4D5AE5;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}
.nav-link:hover {
    color: #404BBF;
}

.nav-link:focus {
    color: #404BBF;
}

.address-list {
font-style: normal;
display: flex;

gap: 40px;
}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #434455;
    text-decoration: none;
    padding-bottom: 24px;
    padding-top: 24px;
    display: block;
}
.contacts-link:hover {
    color: #404BBF;
}
.contacts-link:focus {
    color: #404BBF;
}

.section-hero {
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-img.jpg");
    background-position: center center;
    background-size: cover;
    width: 1440px;
    padding-bottom: 188px;
    padding-top: 188px;
}

.section-hero .container {
    flex-direction: column;
    align-items: center;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px; 
}

.section-hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   padding: 16px 32px;
}

.section-hero-btn:hover {
    background-color: #404BBF;
}

.section-hero-btn:focus {
    background-color: #404BBF;
}

.section-featurs {
    background-color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.featurs-list {
display: flex;
gap: 24px;
}

.featurs-item {
    width: 264px;
   
}

.featurs-icon {
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    padding: 24px 100px;
} 
.featurs-icon .icon {
    fill: #2E2F42;
}

.featurs-item-title {
    margin-bottom: 8px;
}
.section-teams {
    background-color: #F4F4FD;
}

.section-teams .container {
    flex-direction: column;
}
.teams-title {
margin-bottom: 72px;
}

.teams-list {
    display: flex;
    gap: 24px;
}
.teams-card {
    background-color: #FFFFFF;
    width: 264px;
    box-shadow: 0 1px 6px rgb(46, 47, 66, 0.08),0 1px 1px rgb(46, 47, 66, 0.16),0 2px 1px rgb(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.teams-card-img {
    max-width: 100%;
}

.teams-card-content {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
}

.teams-name {
    text-align: center;
    margin-bottom: 8px;
}
.teams-role {
    text-align: center;
    margin-bottom: 8px;

}

.teams-card-social-list {
    display: flex;
gap: 24px;
    
    
}
.link {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4D5AE5;
}

.link:hover {
    background-color: #31D0AA;
}

.icon {
    fill: #F4F4FD;
}

.icon:hover {
    fill: #F4F4FD;
}
.section-portfolio .container {
    flex-direction: column;
}

.portfolio-title {
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-card {
    background-color: #FFFFFF;
   text-align: left;
    width: 360px;
    height: 420px;
   padding-bottom: 32px;
    box-shadow: 0 1px 6px rgb(46, 47, 66, 0.08);
}

.portfolio-card-img {
    max-width: 100%;
}

.portfolio-card-text {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.card-title {
    margin-bottom: 8px;
}

.footer-section {
    background-color: #2E2F42;
}
.footer-section .container {
   padding: 100px 0;
    display: flex;
}

.footer-logo-link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #F4F4FD;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-text {
    color: #F4F4FD;
    width: 264px;
    margin-top: 16px;
}

.footer-social-box {
    margin-left: 120px;
}
.footer-title-social-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
    margin-bottom: 16px;
    color: #fff;
}